<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/brewride"
        android:label="Brew Ride"
        android:roundIcon="@drawable/brewride"
        android:supportsRtl="true"
        android:theme="@style/Theme.Proyecto"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".api.rol.Cedula"
            android:exported="false" />
        <activity
            android:name=".api.conductor.ConductorPerfil"
            android:exported="false" />
        <activity
            android:name=".navegacion.animacion.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".navegacion.home.Conductor"
            android:exported="false" />
        <activity
            android:name=".api.rol.ConductorCrearCuenta"
            android:exported="false" />
        <activity
            android:name=".api.rol.Cargo"
            android:exported="false" />
        <activity
            android:name=".navegacion.home.Usuario"
            android:exported="false"
            android:theme="@style/Theme.Proyecto.NoActionBar" />
        <activity
            android:name=".api.usuario.UsuarioPerfil"
            android:exported="false" />
        <activity
            android:name=".api.usuario.UsuarioActivity"
            android:exported="false" />
        <activity
            android:name=".navegacion.ajustes.Acerca"
            android:exported="false" />
        <activity
            android:name=".navegacion.ajustes.CerrarSesion"
            android:exported="false" />
        <activity
            android:name=".navegacion.ajustes.Mensajes"
            android:exported="false" />
        <activity
            android:name=".api.rol.Rol"
            android:exported="false" />
        <activity
            android:name=".api.rol.UsuarioCrearCuenta"
            android:exported="false" />
        <activity
            android:name=".api.login.IniciarSesion"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB8iVafmx5zXKYOJKxRnQ0efXlNmqS4Fkc" />
    </application>

</manifest>